@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body
{
  display: flex;
  min-height: 100vh;
  background: #232c33
}
.main
{
  padding: 0;
  margin: 0;
}
main.navigation
{
  align-items: center;
}
.main.navigation ul li a
{
  text-decoration: none;
}