<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <script src="./static/Cookies.js"></script>
    <title>Create Embed - Skyblock Bot</title>
    <script type="text/javascript">
      var login_key = get_login_key("embed_form");
    </script>
  </head>
  <body>
    <form action="/create_embed/end", method="POST">
      <div class="form-group">
        <input type="text" class="form_control" id="title" aria-describedby="titleforembed" placeholder="Title" name="embed_title">
      </div>
      <div class="form-group">
        <input type="text" class="form_control" id="message" aria-describedby="messageforembed" placeholder="Message" name="embed_message">
      </div>
      <div class="form-group">
        <input type="text" class="form_control" id="channel" aria-describedby="channelforembed" placeholder="Channel Id" name="channel_id">
      </div>
      <div class="form-group">
        <input type="text" class="form_control" id="color" aria-describedby="colorforembed" placeholder="Color" name="embed_color">
      </div>
      <div class="text">
        <h4>Embed field 1</h4>
      </div>
      <div class="form-group">
        <input type="text" class="form_control" id="field1" aria-describedby="field" placeholder="Field 1" name="field1">
      </div>
    
      <div class="text">
        <h4>Embed field 2</h4>
      </div>
      <div class="form-group">
        <input type="text" class="form_control" id="field2" aria-describedby="field" placeholder="Field 2" name="field2">
      </div>
    
      <div class="text">
        <h4>Embed field 3</h4>
      </div>
      <div class="form-group">
        <input type="text" class="form_control" id="field3" aria-describedby="field" placeholder="Field 3" name="field3">
      </div>
    
      <div class="text">
        <h4>Embed field 4</h4>
      </div>
      <div class="form-group">
        <input type="text" class="form_control" id="field4" aria-describedby="field" placeholder="Field 4" name="field4">
      </div>
    
      <div class="text">
        <h4>Embed field 5</h4>
      </div>
      <div class="form-group">
        <input type="text" class="form_control" id="field5" aria-describedby="field" placeholder="Field 5" name="field5">
      </div>
    
      <div class="text">
        <h4>Embed field 6</h4>
      </div>
      <div class="form-group">
        <input type="text" class="form_control" id="field6" aria-describedby="field" placeholder="Field 6" name="field6">
      </div>
    
      <div class="text">
        <h4>Embed field 7</h4>
      </div>
      <div class="form-group">
        <input type="text" class="form_control" id="field7" aria-describedby="field" placeholder="Field 7" name="field7">
      </div>
    
      <div class="text">
        <h4>Embed field 8</h4>
      </div>
      <div class="form-group">
        <input type="text" class="form_control" id="field8" aria-describedby="field" placeholder="Field 8" name="field8">
      </div>
    
      <button type="submit" class="btn btn-secondary">Submit Ig :/</button>
    </form>
  </body>
</html>