<!DOCTYPE html>
<html>
  <head>
    <link href="../static/style3.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <script src="./static/Cookies.js"></script>
    <title>This should work</title>

    <script type="text/javascript">
      var login_cookie = get_login_cookie_gift_card("{{gift_code}}", "{{userid}}")
    </script>
  </head>
  <body style="background: linear-gradient(to bottom, #ccccff 0%, #ff99cc 100%)">
    <button>Get Your Reward</button>
  </body>
</html>
