<!DOCTYPE html>
<html>
  <head>
    <link href="../static/style3.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <script src="./static/Cookies.js"></script>
    <title>Login</title>

    <script type="text/javascript">
      var login_cookie = set_login_cookie("{{userid}}", "{{redirect}}")
      //console.log(login_cookie)
    </script>
  </head>
  <body style="background: linear-gradient(to bottom, #ccccff 0%, #ff99cc 100%)">
    <h1>Redirecting.....</h1>
  </body>
</html>
